
[*.proto]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4
csharp_prefer_braces=true:hint

[*.{appxmanifest,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*]

# Microsoft .NET properties
csharp_new_line_before_catch=false
csharp_new_line_before_else=false
csharp_new_line_before_finally=false
csharp_new_line_before_members_in_object_initializers=false
csharp_new_line_before_open_brace=none
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_prefer_braces=true:suggestion
csharp_style_var_for_built_in_types=false:suggestion
dotnet_naming_rule.constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.constants_rule.severity=warning
dotnet_naming_rule.constants_rule.style=all_upper_style
dotnet_naming_rule.constants_rule.symbols=constants_symbols
dotnet_naming_rule.local_constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.local_constants_rule.severity=warning
dotnet_naming_rule.local_constants_rule.style=all_upper_style
dotnet_naming_rule.local_constants_rule.symbols=local_constants_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=all_upper_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_static_fields_rule.resharper_style=_ + aaBb, Logge + aa_bb
dotnet_naming_rule.private_static_fields_rule.severity=warning
dotnet_naming_rule.private_static_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_static_readonly_rule.resharper_style=_ + aaBb, Log + aa_bb
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=lower_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_rule.public_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.public_fields_rule.resharper_style=AaBb, _ + aaBb
dotnet_naming_rule.public_fields_rule.severity=warning
dotnet_naming_rule.public_fields_rule.style=upper_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols=public_fields_symbols
dotnet_naming_rule.static_readonly_rule.import_to_resharper=as_predefined
dotnet_naming_rule.static_readonly_rule.severity=warning
dotnet_naming_rule.static_readonly_rule.style=upper_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols=static_readonly_symbols
dotnet_naming_style.all_upper_style.capitalization=all_upper
dotnet_naming_style.all_upper_style.word_separator=_
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix=_
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds=field
dotnet_naming_symbols.constants_symbols.required_modifiers=const
dotnet_naming_symbols.local_constants_symbols.applicable_accessibilities=*
dotnet_naming_symbols.local_constants_symbols.applicable_kinds=local
dotnet_naming_symbols.local_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers=static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=true:none
dotnet_style_qualification_for_property=true:none
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_align_first_arg_by_paren=true
resharper_align_linq_query=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_expression=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_align_tuple_components=true
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_after_multiline_statements=1
resharper_blank_lines_around_property=0
resharper_blank_lines_before_block_statements=1
resharper_blank_lines_before_multiline_statements=1
resharper_blank_lines_before_single_line_comment=1
resharper_blank_lines_inside_namespace=1
resharper_blank_lines_inside_type=1
resharper_brace_style=end_of_line
resharper_csharp_align_multiline_parameter=true
resharper_csharp_align_multiple_declaration=true
resharper_csharp_blank_lines_around_field=0
resharper_csharp_empty_block_style=together
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_max_line_length=240
resharper_csharp_stick_comment=false
resharper_csharp_wrap_after_declaration_lpar=false
resharper_csharp_wrap_after_invocation_lpar=false
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_chained_method_calls=chop_if_long
resharper_csharp_wrap_lines=true
resharper_for_other_types=use_var_when_evident
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_usings_stmt=true
resharper_indent_nested_while_stmt=true
resharper_indent_preprocessor_if=usual_indent
resharper_indent_preprocessor_other=usual_indent
resharper_int_align=true
resharper_int_align_assignments=true
resharper_int_align_binary_expressions=true
resharper_int_align_comments=true
resharper_int_align_fields=true
resharper_int_align_invocations=true
resharper_int_align_methods=true
resharper_int_align_nested_ternary=true
resharper_int_align_parameters=true
resharper_int_align_properties=true
resharper_int_align_switch_sections=true
resharper_int_align_variables=true
resharper_keep_existing_attribute_arrangement=true
resharper_keep_existing_embedded_arrangement=true
resharper_keep_existing_expr_member_arrangement=true
resharper_keep_existing_invocation_parens_arrangement=false
resharper_max_enum_members_on_line=1
resharper_max_formal_parameters_on_line=8
resharper_max_initializer_elements_on_line=1
resharper_max_invocation_arguments_on_line=5
resharper_nested_ternary_style=compact
resharper_new_line_before_catch=false
resharper_new_line_before_else=false
resharper_new_line_before_finally=false
resharper_outdent_binary_ops=true
resharper_outdent_commas=true
resharper_outdent_dots=true
resharper_place_accessorholder_attribute_on_same_line=false
resharper_place_accessor_with_attrs_holder_on_single_line=true
resharper_place_field_attribute_on_same_line=false
resharper_place_linq_into_on_new_line=false
resharper_place_method_attribute_on_same_line=false
resharper_place_simple_accessor_on_single_line=false
resharper_place_simple_initializer_on_single_line=false
resharper_place_type_attribute_on_same_line=false
resharper_remove_blank_lines_near_braces_in_code=false
resharper_remove_blank_lines_near_braces_in_declarations=false
resharper_use_indent_from_vs=false
resharper_wrap_after_declaration_lpar=false
resharper_wrap_after_invocation_lpar=false
resharper_wrap_before_declaration_rpar=false
resharper_wrap_before_invocation_rpar=false
resharper_wrap_linq_expressions=chop_always

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_check_namespace_highlighting=none
resharper_class_never_instantiated_local_highlighting=none
resharper_comment_typo_highlighting=none
resharper_compare_of_floats_by_equality_operator_highlighting=hint
resharper_convert_to_auto_property_highlighting=none
resharper_enforce_do_while_statement_braces_highlighting=hint
resharper_enforce_fixed_statement_braces_highlighting=hint
resharper_enforce_foreach_statement_braces_highlighting=hint
resharper_enforce_for_statement_braces_highlighting=hint
resharper_enforce_if_statement_braces_highlighting=hint
resharper_enforce_lock_statement_braces_highlighting=hint
resharper_enforce_using_statement_braces_highlighting=hint
resharper_enforce_while_statement_braces_highlighting=hint
resharper_for_can_be_converted_to_foreach_highlighting=none
resharper_identifier_typo_highlighting=none
resharper_introduce_optional_parameters_global_highlighting=hint
resharper_join_null_check_with_usage_when_possible_highlighting=warning
resharper_localizable_element_highlighting=none
resharper_loop_can_be_partly_converted_to_query_highlighting=warning
resharper_redundant_base_qualifier_highlighting=warning
resharper_remove_redundant_braces_highlighting=hint
resharper_suggest_var_or_type_built_in_types_highlighting=hint

[*.{appxmanifest,asax,ascx,aspx,axaml,axml,build,config,cs,cshtml,csproj,css,dbml,discomap,dtd,htm,html,js,json,jsproj,jsx,lsproj,master,njsproj,nuspec,paml,proj,props,proto,razor,resjson,resw,resx,skin,StyleCop,targets,tasks,ts,tsx,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4
